* {

}
.filepond--root.my-filepond.filepond--hopper .filepond--credits {
  color: transparent;
}
button.btn.btn-xs.btn-primary {
  box-shadow: 0px 1px 1px black;
}

button.btn.btn-xs.btn-secondary {
  box-shadow: 0px 1px 1px black;
}
