.green {
  background-color: green;
}

.red {
  background-color: red;
}
button.myButton.btn.btn-primary.ng-star-inserted:focus {
  background-color: red;
  color: white;
}

button.myButton.btn.btn-primary.ng-star-inserted:hover {
  background-color: red;
  color: white;
}
