<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div style="display: flex;">
          <div  id='pending' *ngFor="let item of tabData; let i=index">
            <button *ngIf="item.statues" [style.background-color]="'red'" type="button" (click)="changeTab(item)" class="myButton btn btn-primary mr-2"  >{{ item.name}} </button>
            <button *ngIf="!item.statues" [style.background-color]="'#20a8d8'" type="button" (click)="changeTab(item)" class="myButton btn btn-primary mr-2"  >{{ item.name}} </button>
          </div>
        </div>

        <!-- <ejs-toolbar #toolbarTodo>
          <e-items>
            <e-item id='pending' *ngFor="let item of tabData; let i=index">
              <ng-template #template>
                <ng-container *ngIf="item.name == 'Proposal'; else elseTemplate">
                  <button id='proposal' type="button" #buttonRef (click)="changeTab(item)" class="myButton btn btn-primary mr-2"  >{{ item.name}} </button>

                </ng-container>
                <ng-template #elseTemplate>
                  <button  type="button" #buttonRef (click)="changeTab(item)" class="myButton btn btn-primary mr-2"  >{{ item.name}} </button>
                </ng-template>

              </ng-template>
            </e-item>

          </e-items>
        </ejs-toolbar> -->
      </div>
      <div class="card-body table-responsive p-0">
        <ejs-toolbar #toolbarTodo>
          <e-items>
            <e-item id='buy-list' >
              <ng-template #template>
                <button *ngIf="this.tab === 'Proposal' && accountGroupText === 1" type="button" (click)="openSuggessionModal()" class="btn btn-danger" > Suggession </button>
              </ng-template>
            </e-item>

            <e-item align='right'>
              <ng-template #template>
                <div class="e-toolbar-item e-search-wrapper e-toolbar-right" aria-disabled="false" title="Search">
                  <div class="e-input-group e-search" role="search"> <input id="toolbar_searchbar" style="width:178px" autocomplete="off"
                      [(ngModel)]="name" (change)='search($event)' class="e-input"
                      placeholder="{{ 'Search'}}">
                    <span id="toolbar_searchbutton" class="e-input-group-icon fa fa-search e-icons" tabindex="-1"
                      title="Search" aria-label="search"></span>
                  </div>
                </div>
              </ng-template>
            </e-item>
          </e-items>
        </ejs-toolbar>

        <ejs-grid  #grid
          id='grid'
          [dataSource]="data"
          [allowResizing]='true'
          [showColumnMenu]='true'
          gridLines='Both'
          isPrimaryKey='true'
          [showColumnChooser]='true'
          [allowPaging]='true'
          [pageSettings]='pageSettings'
          [allowExcelExport]='true'
          [textWrapSettings]="wrapSettings"
          [editSettings]='editSettings'
        >
          <e-columns>
            <e-column field="Id" textAlign='Center' width="50" isPrimaryKey="true" headerText="#">
              <ng-template #template let-data>
                {{NO(data.index)}}
              </ng-template>
              <ng-template #editTemplate let-data>
                #
              </ng-template>
            </e-column>
            <e-column field="issue" width="80" textAlign='Center' headerText="{{ 'Issue' | translate}}"> </e-column>
            <e-column field="" width="80" textAlign='Center' headerText="{{ 'Date' | translate}}">
              <ng-template #template let-data>
                {{data.createdTime | date:'yyyy/MM/dd, h:mm a'}}
              </ng-template>
            </e-column>

            <e-column field="statusName" width="100" textAlign='Center' headerText="{{ 'Status' | translate}}"></e-column>
            <e-column field="statusName" width="100" textAlign='Center' headerText="{{ 'Detail' | translate}}">
              <ng-template #template let-data>
                <div class="btn-group">
                  <button type="button" (click)="detail(data)" class="btn btn-xs btn-primary"><i class="fa fa-eye"></i></button>
                </div>
              </ng-template>
              <ng-template #editTemplate let-data>
               N/A
              </ng-template>
            </e-column>

          </e-columns>
        </ejs-grid>

      </div>
    </div>
  </div>
</div>

<!-- suggession -->
<ng-template #suggession let-modal>
  <div class="modal-header">
    <h4 class="modal-title"><i class="fa fa-upload" aria-hidden="true"></i> Suggession</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="">To</label>
          <ejs-dropdownlist [(ngModel)]='toId' [allowFiltering]='true'[fields]="userFields"   placeholder='Select a User' [dataSource]='dataUser'></ejs-dropdownlist>

          <!-- <textarea   cols="30" rows="10" class="form-control"></textarea> -->
        </div>
        <div class="form-group">
          <label for="">Title</label>
          <input type="text" [(ngModel)]="titleText" class="form-control">
          <!-- <textarea   cols="30" rows="10" class="form-control"></textarea> -->
        </div>
        <div class="form-group">
          <label for="">Issue</label>
          <!-- <ejs-dropdownlist [(ngModel)]='policyId' [allowFiltering]='true' [fields]="policyFields" placeholder='Select a policy' [dataSource]='policyData'></ejs-dropdownlist> -->

          <textarea [(ngModel)]="issueText"  cols="30" rows="10" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <label for="">Suggession</label>
          <!-- <ejs-dropdownlist [(ngModel)]='policyId' [allowFiltering]='true' [fields]="policyFields" placeholder='Select a policy' [dataSource]='policyData'></ejs-dropdownlist> -->

          <textarea [(ngModel)]="suggessionText"  cols="30" rows="10" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <!-- <button type="button" class="btn btn-secondary" (click)='openUploadModalComponent()' >{{'Upload file' }}</button>
          <div class="mt-3 d-flex justify-content-start">
            <ul class="list-group mr-3" style="width: 50%;" [style.width]='filesRight.length > 0 ? "50%": "100%"'>
              <li class="list-group-item" *ngFor="let item of filesLeft">
                <a [id]='item.path' [href]="item.path">{{item.name}}</a>
              </li>
            </ul>
            <ul class="list-group" style="width: 50%;" *ngIf="filesRight.length > 0">
              <li class="list-group-item" *ngFor="let item of filesRight">
                <a [id]='item.path' [href]="item.path">{{item.name}}</a>
              </li>
            </ul>
          </div> -->
          <label for="">File</label>
          <file-pond #myPondUpload
            label-idle="Drop files here or <span class='filepond--label-action'>Browse</span>"
            allow-multiple="true"
            allowFileSizeValidation="true"
            maxFileSize="5MB"
            labelMaxFileSizeExceeded="File is too large"
            [files]="file"
            [options]="pondOptions"
            (onprocessfile)="handleFileProcess($event)"
            (onaddfile)="pondHandleAddFile($event)"
            (onremovefile)="pondHandleRemoveFile($event)">
          </file-pond>
        </div>
      </div>
    </div>


  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="save()">Save</button>
    <button type="submit" (click)='submit()' class="btn btn-primary">Submit</button>
  </div>


</ng-template>
<!-- end suggession-->


<!-- details Modal -->
<ng-template #details let-modal>
  <div class="modal-header">
    <h4 class="modal-title"> </h4>
    <h4 class="modal-title"><img _ngcontent-eva-c300="" src="/assets/img/star.jpg" alt="" style="width: 20px; height: 20px;"> Detail</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row mb-2">
      <div class="col-md-6">

        <!-- <div class="row">
          <div class="col-md-7">Proposer: {{nameTitle}}</div>
        </div>
        <div class="row">
          <div class="col-md-7">Issue: {{issueTitle}}</div>
        </div> -->

        <table style="box-shadow:  -2px 1px 3px black; border-radius: 10px; overflow: hidden;" class="table table-bordered">
          <tbody>
            <tr>
              <td>
                <label class="font-weight-bold">Proposer: </label> <span> {{nameTitle}}</span>

              </td>
            </tr>
            <tr>
              <td>
                <label class="font-weight-bold">Issue: </label> <span> {{issueTitle}}</span>

              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ejs-grid  #grid
          id='grid'
          [dataSource]="dataHis"
          [allowResizing]='true'
          [showColumnMenu]='true'
          gridLines='Both'
          isPrimaryKey='true'
          [showColumnChooser]='true'
          [allowExcelExport]='true'
          [textWrapSettings]="wrapSettings"
          [editSettings]='editSettings'
        >
          <e-columns>
            <e-column field="Id" textAlign='Center' width="50" isPrimaryKey="true" headerText="#">
              <ng-template #template let-data>
                {{NO(data.index)}}
              </ng-template>
              <ng-template #editTemplate let-data>
                #
              </ng-template>
            </e-column>
            <e-column field="name" width="80" textAlign='Center' headerText="{{ 'Person of confirmation' | translate}}"> </e-column>
            <e-column field="comment" width="80" textAlign='Center' headerText="{{ 'Comment' | translate}}">
            </e-column>
            <e-column field="" width="80" textAlign='Center' headerText="{{ 'Time' | translate}}">
              <ng-template #template let-data>
                {{data.createdTime | date:'yyyy/MM/dd, h:mm a'}}
              </ng-template>

            </e-column>

            <e-column field="statusName" width="100" textAlign='Center' headerText="{{ 'Status' | translate}}">

            </e-column>

            <e-column field="statusName" width="100" textAlign='Center' headerText="{{ 'Attachment' | translate}}">
              <ng-template #template let-data>
                <div class="btn-group">
                  <button type="button" (click)="attackFile(data)" class="btn btn-xs btn-primary"><i class="fa fa-eye"></i> View</button>
                </div>
              </ng-template>
              <ng-template #editTemplate let-data>
               N/A
              </ng-template>
            </e-column>

          </e-columns>
        </ejs-grid>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <div class="row bootstrap snippets">
          <div class="col-md-12 col-md-offset-2 col-sm-12">
            <div class="comment-wrapper">
              <div class="panel panel-info">
                Comment:
                <div class="panel-body">
                  <textarea class="form-control" [(ngModel)]="commentText" placeholder="write a comment..." rows="3"></textarea>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row bootstrap snippets">
          <div class="col-md-12 col-md-offset-2 col-sm-12">
            <div class="comment-wrapper">
              <div class="panel panel-info">
                Attack file:
                <div class="panel-body">
                  <file-pond #myPondUpload
                    label-idle="Drop files here or <span class='filepond--label-action'>Browse</span>"
                    allow-multiple="true"
                    allowFileSizeValidation="true"
                    maxFileSize="5MB"
                    labelMaxFileSizeExceeded="File is too large"
                    [files]="file"
                    [options]="pondOptions"
                    (onprocessfile)="handleFileProcess($event)"
                    (onaddfile)="pondHandleAddFile($event)"
                    (onremovefile)="pondHandleRemoveFile($event)">
                  </file-pond>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
  <div class="modal-footer">
    <button type="submit" (click)="accept()" *ngIf="userId !== createdBy" class="btn btn-success">Accept</button>
    <button type="submit" (click)="reject()" *ngIf="userId !== createdBy" class="btn btn-danger">Reject</button>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>


</ng-template>
<!-- end details Modal-->

<!-- tabProcess Modal -->
<ng-template #tabProcess let-modal>
  <div class="modal-header">
    <h4 class="modal-title"> </h4>
    <h4 class="modal-title"><img _ngcontent-eva-c300="" src="/assets/img/star.jpg" alt="" style="width: 20px; height: 20px;">Process Detail</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row mb-2">
      <div class="col-md-6">
        <!-- <div class="row">
          <div class="col-md-7">Proposer: {{nameTitle}}</div>
        </div>
        <div class="row">
          <div class="col-md-7">Issue: {{issueTitle}}</div>
        </div> -->
        <table style="box-shadow:  -2px 1px 3px black; border-radius: 10px; overflow: hidden;" class="table table-bordered">
          <tbody>
            <tr>
              <td>
                <label class="font-weight-bold">Proposer: </label> <span> {{nameTitle}}</span>

              </td>
            </tr>
            <tr>
              <td>
                <label class="font-weight-bold">Issue: </label> <span> {{issueTitle}}</span>

              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ejs-grid  #grid
          id='grid'
          [dataSource]="dataHis"
          [allowResizing]='true'
          [showColumnMenu]='true'
          gridLines='Both'
          isPrimaryKey='true'
          [showColumnChooser]='true'
          [allowExcelExport]='true'
          [textWrapSettings]="wrapSettings"
          [editSettings]='editSettings'
        >
          <e-columns>
            <e-column field="Id" textAlign='Center' width="50" isPrimaryKey="true" headerText="#">
              <ng-template #template let-data>
                {{NO(data.index)}}
              </ng-template>
              <ng-template #editTemplate let-data>
                #
              </ng-template>
            </e-column>
            <e-column field="name" width="80" textAlign='Center' headerText="{{ 'Person of confirmation' | translate}}"> </e-column>
            <e-column field="comment" width="80" textAlign='Center' headerText="{{ 'Comment' | translate}}"> </e-column>
            <e-column field="" width="80" textAlign='Center' headerText="{{ 'Time' | translate}}">
              <ng-template #template let-data>
                {{data.createdTime | date:'yyyy/MM/dd, h:mm a'}}
              </ng-template>

            </e-column>

            <e-column field="statusName" width="100" textAlign='Center' headerText="{{ 'Status' | translate}}">

            </e-column>

            <e-column field="statusName" width="100" textAlign='Center' headerText="{{ 'Attachment' | translate}}">
              <ng-template #template let-data>
                <div class="btn-group">
                  <button type="button" (click)="attackFile(data)" class="btn btn-xs btn-primary"><i class="fa fa-eye"></i> View</button>
                </div>
              </ng-template>
              <ng-template #editTemplate let-data>
               N/A
              </ng-template>
            </e-column>

          </e-columns>
        </ejs-grid>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <div class="row bootstrap snippets">
          <div class="col-md-12 col-md-offset-2 col-sm-12">
            <div class="comment-wrapper">
              <div class="panel panel-info">
                Comment:
                <div class="panel-body">
                  <textarea class="form-control" [(ngModel)]="commentText" placeholder="write a comment..." rows="3"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row bootstrap snippets">
          <div class="col-md-12 col-md-offset-2 col-sm-12">
            <div class="comment-wrapper">
              <div class="panel panel-info">
                Attack file:
                <div class="panel-body">
                  <file-pond #myPondUpload
                    label-idle="Drop files here or <span class='filepond--label-action'>Browse</span>"
                    allow-multiple="true"
                    allowFileSizeValidation="true"
                    maxFileSize="5MB"
                    labelMaxFileSizeExceeded="File is too large"
                    [files]="file"
                    [options]="pondOptions"
                    (onprocessfile)="handleFileProcess($event)"
                    (onaddfile)="pondHandleAddFile($event)"
                    (onremovefile)="pondHandleRemoveFile($event)">
                  </file-pond>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
  <div class="modal-footer">
    <button type="submit" (click)="update()" *ngIf="accountGroupText !== 1" class="btn btn-primary">Update</button>
    <button type="submit" (click)="complete()" *ngIf="accountGroupText !== 1" class="btn btn-success">Complete</button>
    <button type="submit" (click)="terminate()" *ngIf="accountGroupText !== 1" class="btn btn-danger">Terminate</button>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>


</ng-template>
<!-- end tabProcess Modal-->


<!-- Complete-Terminate Modal -->
<ng-template #completeTerminateModel let-modal>
  <div class="modal-header">
    <h4 class="modal-title"><img _ngcontent-eva-c300="" src="/assets/img/star.jpg" alt="" style="width: 20px; height: 20px;"> Detail</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row mb-2">
      <div class="col-md-6">
        <table style="box-shadow:  -2px 1px 3px black; border-radius: 10px; overflow: hidden;" class="table table-bordered">
          <tbody>
            <tr>
              <td>
                <label class="font-weight-bold">Proposer: </label> <span> {{nameTitle}}</span>

              </td>
            </tr>
            <tr>
              <td>
                <label class="font-weight-bold">Issue: </label> <span> {{issueTitle}}</span>

              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ejs-grid  #grid
          id='grid'
          [dataSource]="dataHis"
          [allowResizing]='true'
          [showColumnMenu]='true'
          gridLines='Both'
          isPrimaryKey='true'
          [showColumnChooser]='true'
          [allowExcelExport]='true'
          [textWrapSettings]="wrapSettings"
          [editSettings]='editSettings'
        >
          <e-columns>
            <e-column field="Id" textAlign='Center' width="50" isPrimaryKey="true" headerText="#">
              <ng-template #template let-data>
                {{NO(data.index)}}
              </ng-template>
              <ng-template #editTemplate let-data>
                #
              </ng-template>
            </e-column>
            <e-column field="name" width="80" textAlign='Center' headerText="{{ 'Person of confirmation' | translate}}"> </e-column>
            <e-column field="comment" width="80" textAlign='Center' headerText="{{ 'Comment' | translate}}"> </e-column>
            <e-column field="" width="80" textAlign='Center' headerText="{{ 'Time' | translate}}">
              <ng-template #template let-data>
                {{data.createdTime | date:'yyyy/MM/dd, h:mm a'}}
              </ng-template>

            </e-column>

            <e-column field="statusName" width="100" textAlign='Center' headerText="{{ 'Status' | translate}}">

            </e-column>

            <e-column field="statusName" width="100" textAlign='Center' headerText="{{ 'Attachment' | translate}}">
              <ng-template #template let-data>
                <div class="btn-group">
                  <button type="button" (click)="attackFile(data)" class="btn btn-xs btn-primary"><i class="fa fa-eye"></i> View</button>
                </div>
              </ng-template>
              <ng-template #editTemplate let-data>
               N/A
              </ng-template>
            </e-column>

          </e-columns>
        </ejs-grid>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <div class="row bootstrap snippets">
          <div class="col-md-12 col-md-offset-2 col-sm-12">
            <div class="comment-wrapper">
              <div class="panel panel-info">
                Comment:
                <div class="panel-body">
                  <textarea class="form-control" [(ngModel)]="commentText" placeholder="write a comment..." rows="3"></textarea>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row bootstrap snippets">
          <div class="col-md-12 col-md-offset-2 col-sm-12">
            <div class="comment-wrapper">
              <div class="panel panel-info">
                Attack file:
                <div class="panel-body">
                  <file-pond #myPondUpload
                    label-idle="Drop files here or <span class='filepond--label-action'>Browse</span>"
                    allow-multiple="true"
                    allowFileSizeValidation="true"
                    maxFileSize="5MB"
                    labelMaxFileSizeExceeded="File is too large"
                    [files]="file"
                    [options]="pondOptions"
                    (onprocessfile)="handleFileProcess($event)"
                    (onaddfile)="pondHandleAddFile($event)"
                    (onremovefile)="pondHandleRemoveFile($event)">
                  </file-pond>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
  <div class="modal-footer">
    <button type="submit" (click)="satisfied()"  class="btn btn-success">Satisfied</button>
    <button type="submit" (click)="dissatisfied()"  class="btn btn-danger">Dissatisfied</button>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>


</ng-template>
<!-- end Complete-Terminate Modal-->

<!-- satisfied-Close Modal -->
<ng-template #satisfiedCloseModel let-modal>
  <div class="modal-header">
    <h4 class="modal-title"><img _ngcontent-eva-c300="" src="/assets/img/star.jpg" alt="" style="width: 20px; height: 20px;"> Satisfied</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row mb-2">
      <div class="col-md-6">

        <table style="box-shadow:  -2px 1px 3px black; border-radius: 10px; overflow: hidden;" class="table table-bordered">
          <tbody>
            <tr>
              <td>
                <label class="font-weight-bold">Proposer: </label> <span> {{nameTitle}}</span>

              </td>
            </tr>
            <tr>
              <td>
                <label class="font-weight-bold">Issue: </label> <span> {{issueTitle}}</span>

              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ejs-grid  #grid
          id='grid'
          [dataSource]="dataHis"
          [allowResizing]='true'
          [showColumnMenu]='true'
          gridLines='Both'
          isPrimaryKey='true'
          [showColumnChooser]='true'
          [allowExcelExport]='true'
          [textWrapSettings]="wrapSettings"
          [editSettings]='editSettings'
        >
          <e-columns>
            <e-column field="Id" textAlign='Center' width="50" isPrimaryKey="true" headerText="#">
              <ng-template #template let-data>
                {{NO(data.index)}}
              </ng-template>
              <ng-template #editTemplate let-data>
                #
              </ng-template>
            </e-column>
            <e-column field="name" width="80" textAlign='Center' headerText="{{ 'Person of confirmation' | translate}}"> </e-column>
            <e-column field="comment" width="80" textAlign='Center' headerText="{{ 'Comment' | translate}}"> </e-column>
            <e-column field="" width="80" textAlign='Center' headerText="{{ 'Time' | translate}}">
              <ng-template #template let-data>
                {{data.createdTime | date:'yyyy/MM/dd, h:mm a'}}
              </ng-template>

            </e-column>

            <e-column field="statusName" width="100" textAlign='Center' headerText="{{ 'Status' | translate}}">

            </e-column>

            <e-column field="statusName" width="100" textAlign='Center' headerText="{{ 'Attachment' | translate}}">
              <ng-template #template let-data>
                <div class="btn-group">
                  <button type="button" (click)="attackFile(data)" class="btn btn-xs btn-primary"><i class="fa fa-eye"></i> View</button>
                </div>
              </ng-template>
              <ng-template #editTemplate let-data>
               N/A
              </ng-template>
            </e-column>

          </e-columns>
        </ejs-grid>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>


</ng-template>
<!-- end satisfied-Close Modal-->

<!-- Reject Modal -->
<ng-template #rejectModel let-modal>
  <div class="modal-header">
    <h4 class="modal-title"><img _ngcontent-eva-c300="" src="/assets/img/star.jpg" alt="" style="width: 20px; height: 20px;"> Reject</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row mb-2">
      <div class="col-md-6">
        <table style="box-shadow:  -2px 1px 3px black; border-radius: 10px; overflow: hidden;" class="table table-bordered">
          <tbody>
            <tr>
              <td>
                <label class="font-weight-bold">Proposer: </label> <span> {{nameTitle}}</span>

              </td>
            </tr>
            <tr>
              <td>
                <label class="font-weight-bold">Issue: </label> <span> {{issueTitle}}</span>

              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ejs-grid  #grid
          id='grid'
          [dataSource]="dataHis"
          [allowResizing]='true'
          [showColumnMenu]='true'
          gridLines='Both'
          isPrimaryKey='true'
          [showColumnChooser]='true'
          [allowExcelExport]='true'
          [textWrapSettings]="wrapSettings"
          [editSettings]='editSettings'
        >
          <e-columns>
            <e-column field="Id" textAlign='Center' width="50" isPrimaryKey="true" headerText="#">
              <ng-template #template let-data>
                {{NO(data.index)}}
              </ng-template>
              <ng-template #editTemplate let-data>
                #
              </ng-template>
            </e-column>
            <e-column field="name" width="80" textAlign='Center' headerText="{{ 'Person of confirmation' | translate}}"> </e-column>
            <e-column field="comment" width="80" textAlign='Center' headerText="{{ 'Comment' | translate}}"> </e-column>
            <e-column field="" width="80" textAlign='Center' headerText="{{ 'Time' | translate}}">
              <ng-template #template let-data>
                {{data.createdTime | date:'yyyy/MM/dd, h:mm a'}}
              </ng-template>

            </e-column>

            <e-column field="statusName" width="100" textAlign='Center' headerText="{{ 'Status' | translate}}">

            </e-column>

            <e-column field="statusName" width="100" textAlign='Center' headerText="{{ 'Attachment' | translate}}">
              <ng-template #template let-data>
                <div class="btn-group">
                  <button type="button" (click)="attackFile(data)" class="btn btn-xs btn-primary"><i class="fa fa-eye"></i> View</button>
                </div>
              </ng-template>
              <ng-template #editTemplate let-data>
               N/A
              </ng-template>
            </e-column>

          </e-columns>
        </ejs-grid>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <div class="row bootstrap snippets">
          <div class="col-md-12 col-md-offset-2 col-sm-12">
            <div class="comment-wrapper">
              <div class="panel panel-info">
                Comment:
                <div class="panel-body">
                  <textarea class="form-control" [(ngModel)]="commentText" placeholder="write a comment..." rows="3"></textarea>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row bootstrap snippets">
          <div class="col-md-12 col-md-offset-2 col-sm-12">
            <div class="comment-wrapper">
              <div class="panel panel-info">
                Attack file:
                <div class="panel-body">
                  <file-pond #myPondUpload
                    label-idle="Drop files here or <span class='filepond--label-action'>Browse</span>"
                    allow-multiple="true"
                    allowFileSizeValidation="true"
                    maxFileSize="5MB"
                    labelMaxFileSizeExceeded="File is too large"
                    [files]="file"
                    [options]="pondOptions"
                    (onprocessfile)="handleFileProcess($event)"
                    (onaddfile)="pondHandleAddFile($event)"
                    (onremovefile)="pondHandleRemoveFile($event)">
                  </file-pond>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
  <div class="modal-footer">
    <button type="submit" (click)="satisfied()"  class="btn btn-success">Satisfied</button>
    <button type="submit" (click)="dissatisfied()"  class="btn btn-danger">Dissatisfied</button>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>


</ng-template>
<!-- end Reject Modal-->

<!-- dissatisfied Modal -->
<ng-template #dissatisfiedModel let-modal>
  <div class="modal-header">
    <h4 class="modal-title"><img _ngcontent-eva-c300="" src="/assets/img/star.jpg" alt="" style="width: 20px; height: 20px;"> Dissatisfied</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row mb-2">
      <div class="col-md-6">
        <table style="box-shadow:  -2px 1px 3px black; border-radius: 10px; overflow: hidden;" class="table table-bordered">
          <tbody>
            <tr>
              <td>
                <label class="font-weight-bold">Proposer: </label> <span> {{nameTitle}}</span>

              </td>
            </tr>
            <tr>
              <td>
                <label class="font-weight-bold">Issue: </label> <span> {{issueTitle}}</span>

              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ejs-grid  #grid
          id='grid'
          [dataSource]="dataHis"
          [allowResizing]='true'
          [showColumnMenu]='true'
          gridLines='Both'
          isPrimaryKey='true'
          [showColumnChooser]='true'
          [allowExcelExport]='true'
          [textWrapSettings]="wrapSettings"
          [editSettings]='editSettings'
        >
          <e-columns>
            <e-column field="Id" textAlign='Center' width="50" isPrimaryKey="true" headerText="#">
              <ng-template #template let-data>
                {{NO(data.index)}}
              </ng-template>
              <ng-template #editTemplate let-data>
                #
              </ng-template>
            </e-column>
            <e-column field="name" width="80" textAlign='Center' headerText="{{ 'Person of confirmation' | translate}}"> </e-column>
            <e-column field="comment" width="80" textAlign='Center' headerText="{{ 'Comment' | translate}}"> </e-column>
            <e-column field="" width="80" textAlign='Center' headerText="{{ 'Time' | translate}}">
              <ng-template #template let-data>
                {{data.createdTime | date:'yyyy/MM/dd, h:mm a'}}
              </ng-template>

            </e-column>

            <e-column field="statusName" width="100" textAlign='Center' headerText="{{ 'Status' | translate}}">

            </e-column>

            <e-column field="statusName" width="100" textAlign='Center' headerText="{{ 'Attachment' | translate}}">
              <ng-template #template let-data>
                <div class="btn-group">
                  <button type="button" (click)="attackFile(data)" class="btn btn-xs btn-primary"><i class="fa fa-eye"></i> View</button>
                </div>
              </ng-template>
              <ng-template #editTemplate let-data>
               N/A
              </ng-template>
            </e-column>

          </e-columns>
        </ejs-grid>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <div class="row bootstrap snippets">
          <div class="col-md-12 col-md-offset-2 col-sm-12">
            <div class="comment-wrapper">
              <div class="panel panel-info">
                Comment:
                <div class="panel-body">
                  <textarea class="form-control" [(ngModel)]="commentText" placeholder="write a comment..." rows="3"></textarea>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row bootstrap snippets">
          <div class="col-md-12 col-md-offset-2 col-sm-12">
            <div class="comment-wrapper">
              <div class="panel panel-info">
                Attack file:
                <div class="panel-body">
                  <file-pond #myPondUpload
                    label-idle="Drop files here or <span class='filepond--label-action'>Browse</span>"
                    allow-multiple="true"
                    allowFileSizeValidation="true"
                    maxFileSize="5MB"
                    labelMaxFileSizeExceeded="File is too large"
                    [files]="file"
                    [options]="pondOptions"
                    (onprocessfile)="handleFileProcess($event)"
                    (onaddfile)="pondHandleAddFile($event)"
                    (onremovefile)="pondHandleRemoveFile($event)">
                  </file-pond>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
  <div class="modal-footer">
    <button type="submit" (click)="closeIdea()"  class="btn btn-success">Close</button>
    <button type="submit" (click)="asign()"  class="btn btn-danger">Asign</button>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>


</ng-template>
<!-- end dissatisfied Modal-->

<ng-template #fileModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">
      <i class="fas fa-plus"></i> Download File
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="mt-3 d-flex justify-content-start">
      <ul class="list-group" style="width: 100%;" >
        <li class="list-group-item" *ngFor="let item of files">
          <a [id]='item.path' [href]="item.path">{{item.name}}</a>
        </li>
      </ul>
      <!-- <ng-container *ngIf="files.length >= 0; else elseTemplate">

      </ng-container>
      <ng-template #elseTemplate>
        <span>No data</span>
      </ng-template> -->

  </div>


  </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
  </div>


</ng-template>

